<!-- First line should be the <!DOCTYPE html> -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PP-Login</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div>
				<h1> TB Pointing Poker </h1>
				<!-- TODO: not sure if this works  -->
				<form action="room/{{ .RoomUUID}}">
					<div class="form-group">
						<label for="username">Username</label>
						<input 
							type="text"
							name="username"
							class="form-control"
							id="username"
							placeholder="Enter a username"
							required="required"
						>
						<small class="form-text text-muted">Login with <code>TBADMIN</code> for admin functionality.</small>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</body>
</html>