<!-- First line should be the <!DOCTYPE html> -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PP-Main</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<style>
			.sectionWrap {
				border: 1px solid grey;
				padding: 20px; 
				margin-top: 20px;
				margin-bottom: 20px;
				border-radius: 5px;
			}
			.warningBanner {
				color: red;
			}
		</style>
	</head>
	<body>
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div>
				<h1> TB Pointing Poker </h1>
				<small> made with ❤ by Joel Foo. <a href="https://github.com/joelfooxj/go_pointing_poker"> Source.</a> </small>
				<br>
				<small class="warningBanner"> Warning: reloading or navigating away from this page will destroy the room. </small>
				<br>
				<br>
				<button 
					id="copyBtn"
					onclick="copyRoomUUIDToClipboard()" 
					class="btn btn-primary">
						Copy RoomID
				</button>
				<small id="copiedText" style="color: green;"></small>
				<h2 id="pointsContainer" class="sectionWrap">
					<div id="pointsStatus"></div>
					<ul id="pointsMap">
					</ul>
				</h2>
				<div id="buttons" class="d-flex justify-content-between">
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		function copyRoomUUIDToClipboard(){
			navigator.clipboard.writeText("{{ .RoomUUID}}")
			console.log("{{ .RoomUUID}} has been copied! ")
			const copiedText = document.getElementById("copiedText")
			copiedText.innerHTML = "Copied!"
			setTimeout(() => {
				copiedText.innerHTML = ""
			}, 1000)
		}
		
		// Detect window close or navigate away
		window.onbeforeunload = () => {
			source.close()
		}

		const roomUUID = "{{ .RoomUUID}}"
		const currentUser = "{{ .Key}}"
		const adminHash = "{{ .AdminHash}}"

		// Subscribe to and handle SSE events
		var source = new EventSource(`/sse_events?roomUUID=${roomUUID}&username=${currentUser}`);
		source.onopen = (event) => {
			console.log(`Connection opened: ${event.data}`)
		}

		source.onerror = (event) => {
			console.log(`Connection error: ${event.data}`)
			source.close()
			window.location.href='/'
		}

		source.onmessage = (event) => {
			console.log(`Received data: ${event.data}`)
			const userPoints = JSON.parse(event.data);
			const hasUsers = Object.keys(userPoints).length > 0
			
			// No users found
			var pointsStatus = document.getElementById("pointsStatus")
			if(!hasUsers){
				pointsStatus.innerHTML = "There are no users in the room."
			} else {
				pointsStatus.innerHTML = ""
			}

			// Remove all children and set the current points map 
			var pointsMapElement = document.getElementById("pointsMap")
			while (pointsMapElement.firstChild) {
				pointsMapElement.removeChild(pointsMapElement.firstChild);
			}
			
			for(const key of Object.keys(userPoints).sort()){ 
				const listItem = document.createElement("li")
				listItem.innerHTML = `<strong>${key}</strong>: ${userPoints[key]}`
				pointsMapElement.appendChild(listItem)
			}
		}

		window.onblur = function() { 
			if(currentUser === "TBADMIN"){
				resetPoints()
			}
		}

		const buttons = document.getElementById("buttons")
		switch (currentUser) {
			case "":
				alert("You must be logged in to view this page")
				window.location.replace("/");
				break;
			case "TBADMIN":
				// Show the hide and clear buttons
			  const adminBtnProps = [
					{
						name: "Show/Hide",
						id: "togglePoints",
						function: togglePointsVisibility
					},
					{
						name: "Reset",
						id: "resetPoints",
						function: resetPoints
					}
				]

				for (const prop of adminBtnProps) { 
					const button = document.createElement("button")
					button.id = prop.id
					button.innerHTML = prop.name
					button.onclick = prop.function
					button.classList.add("btn")
					button.classList.add("btn-primary")
					buttons.appendChild(button)
				}

				break;
			default:
				const points = ['1','2','3','5','8', '\u2615']
				for(const point of points){
					const button = document.createElement("button")
					button.innerHTML = point
					button.onclick = () => {
						setPoint(point)
					}
					button.classList.add("btn")
					button.classList.add("btn-primary")
					buttons.appendChild(button)
				}
				break;
		}
		
		async function resetPoints(){
			console.log(`Requested to reset all points to 0`)
			await fetchWrapper({
				url: `/room/${roomUUID}/reset`,
				method: "POST", 
				headers: {
					"X-Admin-Hash": adminHash
				}
			})
		}

		async function togglePointsVisibility(){
			console.log(`Requested to toggle points visibility`)
			const response = await fetchWrapper({
				url: `/room/${roomUUID}/visibility`,
				method: "POST", 
				headers: {
					"X-Admin-Hash": adminHash
				}
			})
		}

		async function setPoint(value){
			console.log(`Requested to set value of ${currentUser} to ${value}`)
			await fetchWrapper({
				url: `/room/${roomUUID}/user/${currentUser}/points/${value}`,
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				}
			})
		}

		async function fetchWrapper({url, method, headers, body}){
			return await fetch(url, {
				method, // *GET, POST, PUT, DELETE, etc.
				mode: "cors", // no-cors, *cors, same-origin
				cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
				credentials: "same-origin", // include, *same-origin, omit
				headers,
				redirect: "follow", // manual, *follow, error
				referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
				body, // body data type must match "Content-Type" header
			})
		}
	</script>
</html>