<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Testing embed</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script type="text/javascript">
			var source = new EventSource("/events/");

			source.onmessage = function(event) {
				// var data = JSON.parse(event.data);
				var element = document.getElementById("test");
				if (element) {
					element.innerHTML = event.data;
				}
			};
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<h1> TB Pointing Poker </h1>
			{{ range $key, $value := .}}
				<div class="row">
					<h2 id="pointMap" class="col-md-12">
						<li><strong>{{ $key }}</strong>: {{ $value }}</li>
					</h2>
					<div id="test">

					</div>
				</div>
			{{ end }}
		</div>
	</body>
</html>